<!DOCTYPE html>
<head>
    <link rel="stylesheet"  type="text/css" href="app.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
</head>
<body>
    <h1>ToDo List Project </h1>
    <section class="form">
        <input type="text" id="todoInput" placeholder="Insert your task here..">
    </section>
    <ul class="list">
    </ul>
    <script type="text/javascript">
        $(document).ready(function(){
            $.getJSON("/api/todo")
            .then(addtodos)
            .catch(function(err){
                console.log(err);
            });
            $("#todoInput").keypress(function(event){
                if(event.which==13){
                    if($(this)[0].defaultValue.length==0){
                        createTodo();
                    }else{
                        updateToDoData(event.currentTarget.attributes.key.nodeValue)
                    }
                }
                    
            })
            $(".list").on("click","li",function(){
                updateTodo($(this));
            })
            $(".list").on('click','span',function(e){
                e.stopPropagation(); 
                removeTodo($(this).parent());
            });
            function addtodos(todos){
                todos.forEach((todo)=> {
                    addTodo(todo);
                });
            }
            function addTodo(todo){
                var newTodo= $('<li>'+todo.name+"   "+todo.created_date.slice(0,10)+'<span>X</span><li>');
                    newTodo.data('id',todo._id);
                    newTodo.data('completed',todo.completed);
                    newTodo.data('taskLabel',todo.name);
                    if(todo.completed){
                        newTodo.addClass("done");
                    }
                   $('.list').append(newTodo);
            }
            function createTodo(){
                var userInput = $("#todoInput").val();
                $.post('/api/todo',{name:userInput})
                .then(function(todo){
                    $("#todoInput").val('');
                    addTodo(todo);
                })
                .catch(function(err){
                    console.log(err);
                });
            }
            function updateToDoData(taskId){
                var userInput = $("#todoInput").val();
                var updateUrl = "api/todo/"+taskId;
                var updateData = {name:userInput};
                $.ajax({
                    method:'PUT',
                    url:updateUrl,
                    data:updateData
                })
                .then(function(updatedTodo){
                   
                    $.getJSON("/api/todo")
                    .then(addtodos)
                    
                })
            }
            function removeTodo(todo){
                var id=todo.data('id');
                $.ajax({
                    method:'delete',
                    url:"api/todo/"+id,
                })
                .then(function(data){
                    todo.remove();
                });
            }
            
            function updateTodo(todo){
                var isDone = todo.data('completed');
                console.log("isDone",isDone);
                var updateData = {completed:!isDone};
                console.log("updated data", updateData)
                document.getElementById('todoInput').setAttribute('value', todo.data('taskLabel'))
                document.getElementById('todoInput').setAttribute('key',todo.data('id'))
                todo.toggleClass("done");
            }
        });
    </script>
</body>
</html>